<div class="row">
  <div class="col-auto ">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-3"></div>
  <div class="justify-content-center align-self-center col-6">
    <h3>Create a New Topic:</h3>

    <form class="form new-topic-form">
      <div class="form-group">
        <label for="topic-name">Topic name:</label>
        <input class="form-input" type="text" id="topic-name" name="topic-name" />
      </div>
      <div class="form-group">
        <label for="topic-desc">Post:</label>
        <textarea class="form-input" id="topic-desc" name="topic-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>

<div class="row">
  <div class="col-auto">
    <h2>Posts you've created:</h2>
  </div>
</div>

<!-- Loop over each object in the topics array -->
{{#each Topics as |topic| }}
<div class="align-center topic display-flex flex-column p-3">
  <div class="col-md-8 display-flex justify-space-between m-2 p-3" style="background-color:var(--secondDarkest)">
    <h2 >
      <a href="/topic/{{topic.id}}">{{topic.title}}</a>
    </h2>
    <p>Created by you on {{format_date topic.date_created}}</p>
  </div>
  <div class="col-md-8 p-3" style="background-color:var(--darkest);" >
    {{topic.post_body}}
  </div>
</div>
<div class="display-flex flex-nowrap align-stretch align-items-center">
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
  <div
    class="container display-flex justify-center align-center align-items-center flex-nowrap col-xl-10 col-lg-10 col-md-10 col-sm-12">
    <button class="postbuttons btn btn-primary commentTopicBtn" data-id="{{topic.id}}">Comment</button>
    <button class="postbuttons btn btn-secondary editTopicBtn" data-id="{{topic.id}}">Edit</button>
    <button class="postbuttons btn btn-danger deleteTopicBtn" data-id="{{topic.id}}">Delete</button>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
</div>

{{/each}}


<script src="./js/dashboard.js"></script>
