<!-- Loop over each object in the topics array -->
{{#each topics as |topic| }}
<div class="align-center topic display-flex flex-column p-3">
  <div class="col-md-8 display-flex justify-space-between m-2 p-3" style="background-color:var(--secondDarkest)">
    <h2 >
      <a href="/topic/{{topic.id}}">{{topic.title}}</a>
    </h2>
    <p>Created by {{topic.User.name}} on {{format_date topic.date_created}}</p>
  </div>
  <div class="col-md-8 p-3" style="background-color:var(--darkest);" >
    {{topic.post_body}}
  </div>
</div>
{{/each}}
